.mensaje {
    margin-left: 37%;
    display: inline;
    position: absolute;
    background: #2a8a0d;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}