* {
    padding: 0;
    margin: 0;
}

.footer {
    background-color: #393E46;
    height: 110px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    padding: 20px
}

.contenedor-lista {
    margin-bottom: 320px
}

.footer p {
    margin-top: 90px;
}

.encabezado {
    background-color: #393e46;
    width: 100%;
}

.logob {
    align-items: center;
    width: 150px;
}

.encabezado nav {
    display: flex;
    justify-content: space-around;
}

.encabezado nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 12px 20px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.a:hover {
    background-color: rgb(44, 44, 44);
}

.encabezado nav ul li ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #393e46;
}

.encabezado nav ul li ul li {
    position: relative;
}

.encabezado nav ul li ul li ul {
    position: absolute;
    top: 0;
}

.encabezado nav ul li ul {
    display: none;
}

.encabezado nav ul li:hover>ul {
    display: block;
}

.btn-clase-nueva {
    width: 100px;
    height: 30px;
    margin: 15px;
}

.btn-clase-nueva a {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    outline: none;
}

.btn-clase-nueva a:link {
    color: none;
}

.btn-clase-nueva a:visited {
    color: #393E46;
}

.btn-clase-nueva a:hover {
    background-color: #393E46;
    color: rgb(255, 255, 255);
}

.btn-clase-nueva:hover {
    box-shadow: 3px 2px 2px black;
    background-color: #393E46;
    color: rgb(255, 255, 255);
}


/*.boton-list-user {
    margin: 10px;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(163, 163, 163, 0.5);
}