* {
    padding: 0;
    margin: 0;
}

.footer {
    background-color: #393E46;
    height: 110px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    padding: 20px
}

.contenedor-lista {
    margin-bottom: 320px
}

.footer p {
    margin-top: 90px;
}

.encabezado {
    background-color: #393e46;
    width: 100%;
    border-bottom: 5px solid #00ADB5;
}

.logob {
    align-items: center;
    width: 150px;
    padding: 1px;
}

.encabezado nav {
    display: flex;
    justify-content: space-around;
}

.encabezado nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid transparent;
    border-bottom: 5px solid transparent;
}

.a:hover {
    background-color: #464d58;
    border-bottom: 5px solid #ffff;
}

.encabezado nav ul li ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #393e46;
}

.encabezado nav ul li ul li {
    position: relative;
}

.encabezado nav ul li ul li ul {
    position: absolute;
    top: 0;
}

.encabezado nav ul li ul {
    display: none;
}

.encabezado nav ul li:hover>ul {
    display: block;
}

.clase-nueva {
    margin: 15px;
    margin-bottom: 19px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ffffff;
    background-color: #393e46;
}

.clase-nueva a {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    display: block;
    color: #ffffff;
}

.clase-nueva a:link {
    color: none;
}

.clase-nueva:hover {
    border-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
}

.clase-nueva a:hover {
    color: #000000;
}

.seleccionado {
    background-color: #0062ff;
    border-bottom: 5px solid #ffff;
}


/*.boton-list-user {
    margin: 10px;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(163, 163, 163, 0.5);
}