* {
    padding: 0;
    margin: 0;
}

.encabezado {
    background-color: #393e46;
}

.logob {
    align-items: center;
    width: 150px;
}

.encabezado nav {
    display: flex;
    justify-content: space-around;
}

.encabezado nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 12px 20px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.a:hover {
    background-color: rgb(44, 44, 44);
}

.encabezado nav ul li ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #393e46;
}

.encabezado nav ul li ul li {
    position: relative;
}

.encabezado nav ul li ul li ul {
    position: absolute;
    top: 0;
    position: absolute;
}

.encabezado nav ul li ul {
    display: none;
}

.encabezado nav ul li:hover>ul {
    display: block;
}


/*.boton-list-user {
    margin: 10px;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(163, 163, 163, 0.5);
}