* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
    text-align: left;
}

.btnMenu {
    padding: 15px;
    background: #393E46;
    border: none;
    color: #fff;
}

.btnAtras {
    padding: 15px;
    background: #393E46;
    border: none;
    color: #fff;
}

.btnMenu .icono {
    float: right;
    margin: 10px;
}

.btnAtras .icono {
    float: right;
    margin: 10px;
}

.contenedorMenuVertical {
    width: 20%;
    min-width: 300px;
    display: none;
    line-height: 18px;
    background-color: #393E46;
    position: absolute;
    z-index: 1000;
}

.contenedorMenuVertical .menu {
    width: 100%;
}

.contenedorMenuVertical ul {
    text-align: left;
    list-style: none;
}

.contenedorMenuVertical .menu li a {
    color: #e9e9e9;
    display: block;
    padding: 20px 25px;
    background: #393E46;
    text-align: left;
    font-weight: bold;
}

.contenedorMenuVertical .menu li button {
    font-size: 15px;
    color: #e9e9e9;
    width: 100%;
    border: none;
    display: block;
    padding: 20px 25px;
    background: #393E46;
    font-weight: bold;
}

.seleccionado {
    background-color: #0062ff;
    border-bottom: 5px solid #ffff;
}

.contenedorMenuVertical .menu li a:hover {
    background: #1a95d5;
    color: #393E46;
}

.contenedorMenuVertical .menu li button:hover {
    background: #1a95d5;
    color: #393E46;
}

.contenedorMenuVertical .menu .icono {
    font-size: 18px;
    line-height: 18px;
}

.contenedorMenuVertical .menu .icono.left {
    float: left;
    margin-right: 10px;
}

.contenedorMenuVertical .menu .icono.right {
    float: right;
    margin-left: 80px;
}

.contenedorMenuVertical .menu ul {
    display: none;
}

.contenedorMenuVertical .menu ul li a {
    background: #e9e9e9;
    color: #393E46;
}

.contenedorMenuVertical .menu .activado>a {
    background: #1a95d5;
    color: #fff;
}

.encabezado {
    background-color: #393e46;
    width: 100%;
    border-bottom: 5px solid #00ADB5;
    height: 80px;
}

.clase-nueva {
    display: block;
    padding: 0px;
    margin-left: 20px;
}

.btn-clase-nueva {
    margin-left: 28%;
    margin-top: 15px;
    display: flex;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ffffff;
    background-color: #ffffff;
}

.btn-clase-nueva a {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    padding: 5px;
    color: #393e46;
    flex: auto;
}

.clase-nueva a:link {
    color: none;
}

.btn-clase-nueva:hover {
    border-color: #393e46;
    box-shadow: 3px 3px 10px #393e46;
    background-color: #00ADB5;
}

.btn-clase-nueva a:hover {
    color: #ffffff;
}

.icono.menu {
    font-size: 20px;
}

.btnBack {
    display: inline;
}

.iconoAtras {
    font-size: 20px;
    margin-bottom: 5px;
}


/*Estilos para el pie de pagina*/

.logo {
    margin: 50px;
}

footer {
    margin-top: 50px;
    background-color: #393e46;
}

.conteinerFooter {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logoFooter {
    padding: 20px;
}

.logoFooter img {
    height: 70%;
    padding-top: 40px;
}

.modulosFooter {
    padding: 20px;
}

.modulosFooter ul {
    text-align: left;
    list-style: none;
    padding-left: 30%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.modulosFooter ul li {
    padding: 5px;
    font-size: 15px;
}

.tituloModulosFooter {
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 30%;
}

.contactosFooter {
    padding: 20px;
}

.contactosFooter ul {
    text-align: left;
    list-style: none;
    padding-left: 50px;
}

.contactosFooter ul li {
    display: inline-block;
    margin: 20px;
}

.iconFooter {
    font-size: 40px;
}

.firmaFooter {
    color: whitesmoke;
    background-color: #202225;
    text-align: center;
    padding: 10px;
    grid-column: 1/4;
}

.contenedorFormBusqueda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contenedorBusqueda {
    padding: 50px;
}

.usuarioEnLinea {
    display: inline;
    float: right;
    margin-right: 10px;
}

.logoMenu {
    display: inline;
    float: center;
}

.logob {
    width: 150px;
    padding: 1px;
    margin-left: 32%;
}

.btnUsuarioConectado {
    float: right;
    margin: 30px;
    background-color: #393E46;
    border: none;
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.contenedorUsuarioConfig {
    display: none;
    margin: 10px;
    margin-right: 0px;
    float: right;
}

.menuUsuarioConfig {
    position: absolute;
    list-style: none;
    margin-top: 70px;
    margin-right: 1px;
}

.contenedorUsuarioConfig .menuUsuarioConfig li a {
    color: #e9e9e9;
    display: block;
    padding: 20px 25px;
    background: #393E46;
    text-align: left;
    font-weight: bold;
}

.contenedorUsuarioConfig .menuUsuarioConfig li :hover {
    background: #1a95d5;
    color: #393E46;
}


/*Media queri para adaptar el menu*/

@media screen and (max-width: 450px) {
    body {
        padding-top: 80px;
    }
    .contenedor-menu {
        margin: 0;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .btnMenu {
        display: block;
    }
    .contenedorMenuVertical .menu {
        display: none;
    }
}