.login {
    /*background-color: red;*/
    text-align: center;
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
    padding: 5%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

.campos-login {
    padding-top: 5%;
}

.titulo-login {
    font-family: fantasy;
    color: rgb(5, 5, 5);
    background-color: rgba(255, 255, 255, 0.452);
    size: 20%;
}

.mensaje {
    position: relative;
    background: none repeat scroll 0 0 #ff3c00;
    border-radius: 20px 20px 20px 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

.body {
    height: 100%;
    /* Ubicaci칩n de la imagen */
    background-color: #eeeeee;
    /* Para dejar la imagen de fondo centrada, vertical y

    horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualizaci칩n para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala autom치ticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se est치 cargando la imagen

    de fondo o si hay problemas para cargarla */
}