    /*APLICANDO ESTILO AL FORMULARIO*/
    
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: #d1d0d0;
    }
    
    .main {
        position: relative;
        max-width: 800px;
        width: 90%;
        margin: auto;
        padding: 45px;
    }
    
    h1 {
        padding: 20px;
        border-bottom: 3px solid;
    }
    
    .fecha {
        display: inline-block;
        color: #000000;
        margin: 20px auto 40px auto;
        border: 1px solid #d9d9d9;
        height: 30px;
        overflow: hidden;
        width: 100%;
        position: relative;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }
    
    .titulo {
        font-family: verdana;
        text-align: center;
        background-color: #ffffff;
    }
    /*SE APLICA UN ESTILO GRID QUE CONTENGA DOS COLUMNAS*/
    
    .formInsert {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px;
        /*espaciado entre cada elemento*/
    }
    
    .formModificar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px;
    }
    
    .formInsertUnaColumna {
        text-align: center;
        /*espaciado entre cada elemento*/
    }
    
    .conteiner3columnas {
        grid-column: 1/4
    }
    
    .formInsert3Columnas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .formInsert2Columnas {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .formModificarUnaColumna {
        text-align: center;
        /*espaciado entre cada elemento*/
    }
    
    .formModificar2Columnas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }
    
    .formLabel {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        display: block;
        /*abarque el 100%*/
        font-weight: 700;
        /*Fuente del label este en negrita*/
        padding: 10px;
        /*espaciado a todos los lados*/
        cursor: pointer;
        /*al pasar el cursor se ilumina su respectivo input*/
    }
    
    .formGrupInput {
        position: relative;
        /*El grupo tenga un posicionamiento relativo*/
    }
    
    .formInput {
        width: 100%;
        /*ocupe todo el ancho*/
        background-color: rgb(255, 255, 255);
        border: 3px solid transparent;
        border-radius: 3px;
        line-height: 45px;
        padding: 0 40px 0 10px;
        transition: .3s ease all;
        padding-bottom: 0px;
    }
    
    .formInput:focus {
        border: 3px solid rgb(0, 81, 255);
        outline: none;
        /*sacar subrayado autodefinido que le coloca el naegador*/
        box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4)
    }
    
    .formularioInputError {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        /*elimina el mangen inferior que trae por defecto*/
        margin-bottom: 0;
        display: none;
    }
    
    .formularioInputError-activo {
        display: block;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #bb2929;
    }
    
    .formGrupBtnEnviar,
    .formMensaje {
        grid-column: span 2;
        /*abarque dos columnas*/
    }
    
    .formMensaje {
        height: 45px;
        line-height: 45px;
        background: #f66060;
        padding: 0 15px;
        border-radius: 3px;
        display: none;
    }
    
    .formMensaje-activo {
        display: block;
    }
    
    .formMensaje p {
        margin: 0;
    }
    
    .formGrupBtnEnviar {
        display: inline-block;
        margin: 5px;
        text-align: center;
        grid-column: 1/4;
        margin-bottom: 30px
    }
    
    .formGrupBtnEnviar3Columnas {
        display: inline;
        margin-top: 25%;
        text-align: center;
        margin-bottom: 30px
    }
    
    .formGrupBtnEnviarUnaColumna {
        text-align: center;
        margin-bottom: 30px;
        grid-column: 1/3;
    }
    
    .formGrupBtnEnviar.central {
        display: inline;
        margin-left: 35%;
        margin-top: 15%;
        text-align: center;
        margin-bottom: 30px
    }
    
    #GrupocboSexo {
        grid-column: 1/4;
    }
    
    #GrupocboPerfil {
        grid-column: 1/4;
    }
    
    .formButton {
        height: 45px;
        line-height: 45px;
        width: 30%;
        background: rgb(49, 49, 49);
        color: #fff;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 10px;
    }
    
    .formGrup {
        padding: 10px;
    }
    /*Stilos del modulo de contacto*/
    
    .formGrup.contacto {
        grid-column: 1/2;
    }
    
    .formGrup.contacto2 {
        grid-column: 2/3;
    }
    
    .formGrupBtnEnviar.contacto {
        margin-top: 50px;
        grid-column: 3/4;
    }
    
    .formGrup.ejeContenido {
        grid-column: 1/3;
    }
    /*---------------------------*/
    
    .formButton:hover {
        box-shadow: 3px 0px 30px rgba(163, 163, 163, 2);
    }
    
    #Guardar:hover {
        background-color: #22a322;
    }
    
    #Buscar:hover {
        background-color: #2285a3;
    }
    
    #Cancelar:hover {
        background-color: #a32222;
    }
    
    .formValidacionEstado {
        position: absolute;
        right: 10px;
        bottom: 12px;
        z-index: 100;
        font-size: 16px;
    }
    
    .MnsjSexo {
        font-size: 14px;
        color: red;
    }
    /*ESTILOS PARA VALIDACION*/
    /*.formGrupCorrect .formValidacionEstado {
        color: #1ed12d;
        opacity: 1;
    }
    /*.formGrupCorrect .formLabel {
        color: #1ed12d;
    }*/
    
    .formGrupCorrect .formInput {
        border: 3px solid #1ed12d;
    }
    /*.formGrupIncorrect .formValidacionEstado {
        color: #bb2929;
        opacity: 1;
    }*/
    
    .formGrupIncorrect .formInput {
        border: 3px solid #bb2929;
    }
    /**/
    
    select {
        color: #000000;
        margin: 20px auto 40px auto;
        border: 1px solid #d9d9d9;
        height: 30px;
        overflow: hidden;
        width: 100%;
        position: relative;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    select option:first-child {
        color: #a7a7a7;
        align-items: center;
    }
    
    select option {
        color: #333;
    }
    
    .labelSexo {
        padding-bottom: 0px;
    }
    
    h3 {
        display: inline-block;
    }
    
    .conteiner-descripcion-clase {
        text-align: left;
        border-bottom: 3px solid black;
        background-color: #AAD8D3;
        grid-column: 1/4;
    }
    
    .conteiner-h3 {
        padding: 5px;
        margin: 5px;
        display: inline-block;
    }
    
    .subtitulo {
        padding: 5px;
        background-color: rgb(245, 245, 245);
    }
    
    span {
        color: #b50000
    }
    
    textarea {
        width: 85%;
        height: 80px;
        margin-left: 20px;
    }
    
    #Guardar a {
        text-decoration: none;
        color: white;
        flex: auto;
    }
    
    #GrupoDetalleAnio,
    #GrupoCicloLectivo {
        grid-column: 1/4;
    }
    
    .conteiner-btn-modificar {
        float: right;
        margin-right: 300px;
    }
    
    .btn-modificar {
        display: flex;
        border-radius: 5px;
    }
    
    .btn-modificar a {
        padding: 10px;
        flex: auto;
        color: black;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
    }
    
    .btn-modificar a:link {
        color: none;
    }
    
    .btn-modificar:hover {
        border-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
        background-color: #ffffff;
        border-radius: 5px;
    }
    
    .btn-modificar a:hover {
        color: #ffffff;
        background-color: rgb(221, 0, 0);
        border-radius: 5px;
        ;
    }
    
    .formGrupBtnEnviar.informeAsistencia {
        float: left;
    }
    /*Mediaqueries*/
    
    @media screen and (max-width: 800px) {
        .formInsert {
            grid-template-columns: 1fr;
        }
        .formModificar {
            grid-template-columns: 1fr;
        }
        .formGrupBtnEnviar,
        .formMensaje {
            grid-column: span 1;
            /*cambia a 1 columna*/
        }
        .formGrup {
            position: relative;
            padding-left: 30px;
            /*El grupo tenga un posicionamiento relativo*/
        }
        .formGrupBtnEnviar {
            padding-left: 30px;
        }
        .formButton {
            width: 100%;
        }
    }