.formulario {
    text-align: center;
    position: absolute;
    width: 30%;
    top: 25%;
    left: 30%;
    right: 15%;
    bottom: 15%;
    bottom: 15%;
    padding: 5%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

.titulo-conteiner {
    padding: 20px;
}

.body {
    height: 100%;
    /* Ubicación de la imagen */
    background-color: #eeeeee;
    /* Para dejar la imagen de fondo centrada, vertical y

    horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen

    de fondo o si hay problemas para cargarla */
}

.titulo {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    border: 2px rgb(0, 0, 0) solid;
    background-color: white;
}

.mensajes {
    position: relative;
    background: none repeat scroll 0 0 #ff8800;
    border-radius: 20px 20px 20px 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

.tabla {
    padding-top: 100px;
    background-color: white;
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

td,
th {
    border: 3px solid black;
    border-collapse: collapse;
}

.body-listuser {
    height: 100%;
    /* Ubicación de la imagen */
    background-color: #eeeeee;
    /* Para dejar la imagen de fondo centrada, vertical y

    horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen

    de fondo o si hay problemas para cargarla */
}

.insert {
    float: left;
}

.body-inicio {
    height: 100%;
    /* Ubicación de la imagen */
    background-color: #eeeeee;
    /* Para dejar la imagen de fondo centrada, vertical y

    horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen

    de fondo o si hay problemas para cargarla */
}

.modif-user {
    height: 100%;
    /* Ubicación de la imagen */
    background-color: #eeeeee;
    /* Para dejar la imagen de fondo centrada, vertical y

    horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen

    de fondo o si hay problemas para cargarla */
}