body {
    background-color: #e0e0e0;
}

.conteiner {
    width: 400px;
    margin: 30px 180px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.conteinerAsistencia {
    width: 400px;
    margin: 10px 180px;
    margin-left: 30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.conteiner3Columnas {
    width: 500px;
    margin: 30px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    padding: 20px;
    border-bottom: 3px solid;
}

.titulo {
    font-family: verdana;
    text-align: center;
    background-color: #ffffff;
}

table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #393E46;
    border-bottom: solid 2px #00ADB5;
    color: white
}

tbody tr {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #dbfffb
}

tr:hover td {
    background-color: #AAD8D3;
}

.icon {
    display: inline-block;
    margin: 2px;
    width: 10px auto;
    height: 15px;
    position: relative;
    align-items: center;
}

.icon-a {
    width: 20px;
}

.conteiner-btn-agregar {
    margin: 20px;
    padding: 10px;
}

.btn-agregar {
    height: 45px;
    line-height: 45px;
    width: 20%;
    background: rgb(49, 49, 49);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
}

.btn-agregar a {
    color: white;
    text-decoration: none;
    flex: auto;
    text-align: center;
}

.btn-agregar:hover {
    background-color: #22a322;
}

.conteiner-form-busqueda {
    margin: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: #00ADB5 4px solid;
}

.conteiner-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
}

.btn-filtrar {
    height: 30px;
    width: 100px;
    background: rgb(49, 49, 49);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-filtrar:hover {
    background-color: #00ADB5;
}

.conteiner-btn-filtrar {
    padding-top: 40px;
}

.form-input {
    width: 80%;
    /*ocupe todo el ancho*/
    background-color: rgb(255, 255, 255);
    border: 3px solid transparent;
    border-radius: 3px;
    line-height: 25px;
    transition: .1s ease all;
    padding-bottom: 0px;
}

.form-input:focus {
    border: 3px solid rgb(0, 81, 255);
    outline: none;
    /*sacar subrayado autodefinido que le coloca el naegador*/
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4)
}

.label {
    display: block;
    /*abarque el 100%*/
    font-weight: 700;
    /*Fuente del label este en negrita*/
    padding: 10px;
    /*espaciado a todos los lados*/
    cursor: pointer;
    /*al pasar el cursor se ilumina su respectivo input*/
}

.cboSelect {
    color: #000000;
    border: 1px solid #d9d9d9;
    height: 30px;
    overflow: hidden;
    width: 80%;
    position: relative;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cboSelect:focus {
    border: 3px solid rgb(0, 81, 255);
    outline: none;
    /*sacar subrayado autodefinido que le coloca el naegador*/
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4)
}